# IntelliJ
.idea/
*.iml

# Maven
target/

# Spring Boot configs
# Spring Boot configs
application.properties
application*.properties
*/src/main/resources/application.properties
# OS files
.DS_Store
.DS_Store
Thumbs.db